body {
	font-family: sans-serif;
	margin: 20px;
}

.report {
	margin-top: 40px;
}

.goal,
.criterion {
	margin-bottom: 50px;
}

canvas {
	max-width: 700px;
	margin: 20px 0;
}

input {
	margin: 5px;
}

fieldset {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #ccc;
}

button {
	margin: 5px;
	padding: 8px 12px;
}

.value-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.planned-values-list, .historical-values-list {
	margin-top: 5px;
	margin-bottom: 10px;
}

.value-row input[type="number"], .value-row input[type="date"] {
	margin-right: 10px;
	min-width: 120px;
}

@media print {

	button,
	fieldset,
	h1 {
		display: none;
	}
}